footer
	ul.footer-link-list
		li: a(href="/") Home
		li: a(href="https://github.com/iv-org/invidious-redirect") Source code
		li: a(href="https://github.com/iv-org/invidious") Invidious project
		li: a(href=links.get("/js-licenses.pug") data-jslicense="1") JavaScript license
